.seccion {
    height: 100vh;
    border: 5px ridge salmon;
 }

 .seccion h1 {
        text-align: center;
        font-size: 2rem; /*"font-size" sirve para agrandar o achicar el tamaño de la fuente*/
 }

 .seccion h2 {
    text-align: center;
 }

 .vertical {
    border: 1px solid black;
    height: 50vh; /*con el "vh" ocurre lo mismo que con el vw, solo que con el ancho de la pantalla*/
    width: 50vw; /*el "vw" es el tamaño del ancho que se puede ver un la pagina, por ejemplo, el widht esta en 50, si achicas o agrandas la pantalla el widht se mantendra el la mitad*/
 
}

.contenedor-centrar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.vertical img {
    width: 1em;  /*un "em" equivale el tamaño fuente de la letra*/
    /*width: 1ch;*/  /*un "ch" equivale al tamaño de un 0*/
    /*width: 1rem;*/ /*el "rem" muchas veces es lo mismo al em, pero la diferenciaes que em es relativo al tamaño de la fuente del elemento y rem es relativo al tamaño fuente del elemento padre*/
    border: 1px solid black;
}


 nav {
    border: 2px ridge black;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.863);  /*el "rgba" tiene la opcion de opasidad que esta ubicada en el cuarto numero que use para hacer su color de fondo del navegador transparente*/
    transform: translate(-10px, -7px);
 }

 nav ul {
    display: flex;
    list-style-type: none;  /*"list-style-type: none" me sirvio paraquitarle los puntitos a la lista desordenada*/
 }

 nav ul li {
    margin-right: 3rem;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    
 }

 nav ul li:hover {
    box-shadow: 0 0 15px white;
 }

 nav ul li a {
    color: black;  /*uso el "color" para cambiarle el color azul del link por otro*/
    text-decoration: none;  /*el "text-decoration:none" lo use para quitarle la rallita de abajo de los links*/
 }

 .parrafohover:hover {
    background-color: blueviolet;
 }

 .parrafoactive:active {
    background-color: crimson;
 }
